<h4>Weeks Post-Surgery: </h4>
{{#each model as |workout|}}
  <div class='col-md-3'>
    <p>Day: {{workout.day}}</p>
  </div>
  <div class='col-md-3'>
    <p>Exercise: {{workout.exercise}}</p>
  </div>
  <div class='col-md-3'>
    <p>Sets: {{workout.sets}}</p>
  </div>
  <div class='col-md-3'>
    <p>Reps: {{workout.reps}}</p>
  </div>
{{/each}}
<div class='col-md-12'>
  {{weekly-workout/workout-form createWorkout='createWorkout'}}
</div>
