<h5>Update workout</h5>
<form {{action 'updateWorkout' on='submit'}}>
  <div class='workout-form'>
    {{input placeholder='Week' value=newWorkout.week maxlength="2"}}
  </div>
  <div class='workout-form'>
    {{input placeholder='Day of the Week' value=newWorkout.day maxlength="9"}}
  </div>
  <div class='workout-form'>
    {{input placeholder='Exercise' value=newWorkout.exercise maxlength="30"}}
  </div>
  <div class='workout-form'>
    {{input placeholder='Number of Sets' value=newWorkout.sets maxlength="5"}}
  </div>
  <div class='workout-form'>
    {{input placeholder='Number of Reps' value=newWorkout.reps maxlength="5"}}
  </div>
  <button class='btn btn-primary' type='submit'>Save</button>
</form>
